<ion-view view-title="Tìm Kiếm Video">
    <ion-header-bar class="bar-light bar-subheader">
        <input type="search"
               placeholder="vi du nhap vao tu khoa la bo"
               ng-model="search"

               class="full-width">
        <button class="button button-icon ion-android-close input-button"
                ng-click="clearSearch()">
        </button>
    </ion-header-bar>
  <ion-content>
      <button class="button button-full button-positive" ng-click="searchVideoByName(search)">
         tim kiem
      </button>
      <ion-list>
          <ion-item collection-repeat="video in _videos" class="item-thumbnail-left">
              <img ng-src="http:{{video.image}}" ng-click="playVideo(video.url)">
              <h2>{{video.name}}</h2>

              <button class="icon ion-social-youtube-outline" ng-click="playVideo(video.url)">
                  Xem
              </button>
              <button class="icon ion-star" ng-click="insertVideoFromSearch(video.id,video.name,video.url,video.image)">
                  Yêu thích
              </button>

          </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
